.project-item {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-info img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover; 
    object-position: center; 
    margin-bottom: 0.2rem;
}

.project-info h4 {
    margin: 0;
    font-family: var(--main-font);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    text-align: left;
    line-height: 1.3;
}

.project-info p {
    margin: 0;
    font-family: var(--main-font);
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 100;
    color: #8f8f8f;
    letter-spacing: 0.05rem;
    text-align: left;
    line-height: 0.8;
}