.animated-title {
    width: 70%;
    text-align: center;
    text-transform: none;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 2.4rem;
    position: fixed;
    left: 50%;
    /* z-index: 1000; */
    z-index: 2001;

    transition: top 0.5s ease-out;
    /* color: #000000d9; */
    /* color: var(--burgundy); */

}

.animated-title.centered {
    top: 38vh;
    transform: translateX(-50%); 
}

.animated-title.moving {
    top: 27vh;
    transform: translateX(-50%); 
}

.animated-title.integrated {
    opacity: 0;
    pointer-events: none;
}


/* Adaptación para móvil */
@media (max-width: 768px) {
    .animated-title {
        width: 90%;
        font-size: 2.2rem;
        line-height: 2.5rem;
        /* z-index: 1000; */
        z-index: 2001; 

    }

    .animated-title.centered {
        top: 35vh; /* Ajustar para móvil */
    }

    .animated-title.moving {
        top: 22vh; /* Posición final más alta para evitar el header */
    }
}

/* Para pantallas muy pequeñas */
@media (max-width: 480px) {
    .animated-title {
        width: 95%;
        font-size: 1.8rem;
    line-height: 1.8rem;
    }

    .animated-title.centered {
        top: 32vh;
    }

    .animated-title.moving {
        top: 20vh;
    }
}