.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--pink-color);
    z-index: 999;
    transition: opacity 0.5s ease-out;
}

.curtain.fade-out {
    opacity: 0;
}