.services-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 3rem;
}

.statement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statement:first-child {
    padding-top: 27vh;
    height: 75vh;
}

.statement:last-child {
    justify-content: center;
    height: 90vh;
}

.statement h1 {
    width: 70%;
    text-align: center;
    text-transform: none;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
}


.services-title-hidden {
    opacity: 0;
}

.services-title-visible {
    opacity: 1;
}

.statement h2 {
    width: 70%;
    text-align: center;
    text-transform: none;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 2.4rem;
}

.statement h3 {
    width: 70%;
    text-align: center;
    text-transform: none;
    font-family: 'Pragmatica';
    font-weight: 300;
    letter-spacing: 0.10em;
    font-size: 1rem;
}

/*grid renderizado*/



.animated-content {
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    animation: fadeInUp 0.5s ease forwards;
}