.featured {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    border-bottom: 1px solid #e0e0e0;
}

.first-line-ft,
.second-line-ft,
.third-line-ft {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px;
}

/* Primera línea - Layout específico */
.first-line-ft .column1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.first-line-ft .column2 {
    flex: 1;
    display: flex;
}

/* Segunda línea - Layout específico (invertido) */
.second-line-ft .column1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* display: none; */
    order: 2; /* Se mueve a la derecha */
}



.second-line-ft .column2 {
    flex: 1;
    display: flex;

    order: 1; /* Se mueve a la izquierda */
}

.project-item-container {
    display: flex;
}

.column1 .project-item-container {
    height: calc((100% - 20px) / 2);
    flex: 1;
}

.column2 .project-item-container {
    height: 100%;
    flex: 1;
}

.project-half {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third-line-ft {
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.third-line-ft h1 {
    font-family: var(--main-font);
    text-transform: capitalize;
    font-size: 2.8rem;
    letter-spacing: 0;
    /* font-weight: 700; */
    font-style: italic;
}