.services-list {
    display: flex;
    flex-direction: row;
    /* margin-top: 0; */
}

.services-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.services-display ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 0rem; 

}

.services-display li {
    padding-bottom: 0.5rem;
    /* border-bottom: 1px solid #e0e0e0; */
    border-bottom: none;
    /* font-family: 'Pragmatica'; */
    text-decoration: none;
    color: black; 
    font-family: var(--main-font);
    letter-spacing: 0.05em;
    font-weight: 100;
    font-size: 1.8rem;
    position: relative;
    padding-left: 3rem;
    margin-right: 3rem;
    transition: color 0.3s ease, font-style 0.3s ease; 
}

.services-display li:hover {
    font-style: italic;
}

.services-display ul:hover li {
    color: #7a7a7a;
    transition: color 0.3s ease;
}

.services-display ul:hover li:hover {
    color: black;
    font-style: italic;
}

.services-display li:last-child {
    border-bottom: none;
}

.menu-number {
    font-family: 'Pragmatica', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    z-index: 1;
    color: black;
    font-style: normal;
}

.service-item {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #e0e0e0; */
    padding: 0.3rem 0;
}

.service-item:last-child {
    border-bottom: none;
}

.menu-number {
    margin-right: 20px;
    font-size: 0.8rem;
    color: #999;
    font-family: monospace;
}

.services-display ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services-display li {
    padding: 0;
}