.services-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 7rem;
}

.services-title {
    flex: 0.15;
    display: flex;
    justify-content: right;
    margin-top: 2rem;
}
.services-display {
    flex: 0.85;
    display: flex;
    flex-direction: column;
}

.services-display ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0rem;

}

.services-display li {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Pragmatica';
    text-decoration: none;
    color: black; /* Color negro por defecto */
    /* font-family: 'Argesta'; */
    font-family: var(--main-font);
    letter-spacing: 0.1em;
    font-size: 5rem;
    position: relative;
    padding-left: 3rem;
    margin-right: 3rem;
    transition: color 0.3s ease, font-style 0.3s ease; /* Transición suave */
}

.services-display li:hover {
    font-style: italic;
}

.services-display ul:hover li {
    /* Esta regla se aplica a todos los li cuando hay hover en la ul */
    color: #7a7a7a; /* Color gris para todos los elementos cuando hay hover en alguno */
    transition: color 0.3s ease; /* Transición suave */
}

.services-display ul:hover li:hover {
    /* Esta regla se aplica solo al li que tiene hover */
    color: black; /* Mantiene el elemento con hover en negro */
    font-style: italic;
}

.services-display li:last-child {
    border-bottom: none;
}

.menu-number {
    font-family: 'Pragmatica', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    z-index: 1;
    color: black;
    font-style: normal;
}

.service-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.service-item:last-child {
    border-bottom: none;
}

.menu-number {
    margin-right: 20px;
    font-size: 0.8rem;
    color: #999;
    font-family: monospace;
}

.services-display ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services-display li {
    padding: 0;
}