.home-container {
    background-image: url(/CAPTURAS/fondohome.png); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    /* align-items: center; */
    align-items: flex-end;
    color: white; 
    position: relative;
    animation: fadeInBg 0.5s ease-in forwards;
}

@keyframes fadeInBg {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}


@keyframes fadeInHome {
    0% { opacity: 0.6; }
    50% { opacity: 0.8; }
    100% { opacity: 0.6; }
}

/* @font-face {
    font-family: "BLUE OCEAN";
    src: url('/fonts/BLUE OCEAN.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
} */

.header-main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.5rem;
    overflow: hidden; 
}

.header-main h1 {
    font-size: 8.5rem;
    white-space: nowrap; 
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--main-font);
    letter-spacing: 0.1em;
    font-weight: 100;
    line-height: 0.8; 
    color: black;
    /* overflow: hidden; */
} 