.home-container-phone {
    height: 100dvh; 
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white; 
    position: relative;
    overflow: hidden;
    background-image: url('/CAPTURAS/FONDOMOVIL.png');
    background-size: cover;
    background-position: center;
}

.title-home-phone {
    text-align: center;
    height: 100dvh; 
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: var(--light-color); 
    position: relative;
    overflow: hidden;
    background-image: url('/CAPTURAS/FONDOMOVIL.png');
    background-size: cover;
    background-position: center;
    font-size: 2.3rem;
    font-family: var(--main-font);
}



.title-home-phone-text:hover {
    color: black;
}

@keyframes fadeInHome {
    0% { opacity: 0.6; }
    50% { opacity: 0.8; }
    100% { opacity: 0.6; }
}

@font-face {
    font-family: "BLUE OCEAN";
    src: url('/fonts/BLUE OCEAN.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}