.footer-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFD2D2;
    color: black;
    width: 100%;
}

.footer-content {
    /* background-color: #FFD2D2;
    color: black; */
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

.footer-content h1 {
    font-size: 11px;
    margin: 0;
}

.footer-content .my-name {
    font-size: 30px;
    margin-bottom: 5px;
}

/* .titulo-cortado {
    display: flex;
    justify-content: center;
}

.titulo-cortado h1 {
    font-size: 5rem;
} */


/* .titulo-cortado {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.titulo-cortado h1 {
    font-size: 5rem;
    white-space: nowrap; 
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--main-font);
    letter-spacing: -0.02em;
    font-weight: 100;
    overflow: hidden;
} */

.titulo-cortado {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.5rem; /* Establecemos una altura fija que corte el texto por abajo */
    overflow: hidden; /* Oculta el contenido que sobresale */
}

.titulo-cortado h1 {
    font-size: 10.5rem;
    white-space: nowrap; 
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--main-font);
    letter-spacing: -0.02em;
    font-weight: 100;
    line-height: 0.8; 
    /* overflow: hidden; */
} 
