.root-phone__content {
  min-height: 100svh;
  animation: fadeInRoutes 0.5s ease-in forwards;
  background-color:  #f4f4f4;
}

@keyframes fadeInRoutes {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.main-content {
  transition: transform 0.3s ease-out;
}