.portfolio-wrapper {
    display: flex;
    flex-direction: column;
}

.portfolio-options {
    display: flex;
    flex-direction: row;
    position: relative;


}

.option-art,
.option-web {
    flex: 1;
    transition: filter 0.3s ease;
    height: 100vh;
    overflow: hidden;
    position: relative; 
}

.option-art img,
.option-web img{
    /* width: 100%;
    height: 100%; */
    width: calc(100% + 20px); /* Ancho extra */
    height: calc(100% + 20px); /* Alto extra */
    margin: -10px; 
    object-fit: cover;

    transition: all 0.4s ease, transform 0.4s ease;

}


.option-art a,
.option-web a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}

/* .option-art h1 {
    position: absolute;
    bottom: 17rem; 
    right: 0rem;       
    transform: rotate(-90deg);
    transform-origin: right bottom;
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.option-web h1 {
    position: absolute;
    bottom: 5.5rem; 
    right: 0rem;       
    transform: rotate(-90deg);
    transform-origin: right bottom;
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    z-index: 100;
} */

/* .option-art h1,
.option-web h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-align: center;
    font-family: 'Argesta';

}

.option-web h1 {
    color: black;
} */

.option-art h1,
.option-web h1 {
    position: absolute;
    bottom: 30px; /* Ajusta esta distancia según necesites */
    left: 50%;
    transform: translateX(-50%); /* Solo trasladamos en el eje X */
    /* color: var(--light-color); */
    color: red;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    z-index: 100;
    text-align: center;
    /* font-family: 'Argesta'; */
    font-family: var(--main-font);
    /* font-family: 'Pragmatica'; */

}

.option-web h1 {
    color: black;
}




/* .portfolio-options:hover .option-art img:not(:hover),
.portfolio-options:hover .option-web img:not(:hover) {
    filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
} */
    .portfolio-options:hover .option-art:not(:hover) img {
        filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    .portfolio-options:hover .option-web:not(:hover) img {
        filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.6);
    }